version: "3.9"
services:
  zookeeper:
    image: bitnami/zookeeper:latest
    environment: [ALLOW_ANONYMOUS_LOGIN=yes]
    ports: ["2181:2181"]

  kafka:
    image: bitnami/kafka:latest
    depends_on: [zookeeper]
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
    ports: ["9092:9092"]

  postgres:
    image: postgres:14
    environment:
      - POSTGRES_USER=mlops
      - POSTGRES_PASSWORD=mlops
      - POSTGRES_DB=fraud
    ports: ["5432:5432"]
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U mlops -d fraud"]
      interval: 5s
      timeout: 3s
      retries: 20

  scoring-service:
    build: .
    depends_on: [kafka]
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - INPUT_TOPIC=transactions
      - OUTPUT_TOPIC=scores
      - MODEL_PATH=/app/model.pkl
      - FEATURES_JSON=/app/features.json
      - THRESHOLD_PATH=/app/threshold.txt
    command: ["python","kafka_worker.py"]

  db-writer:
    build: .
    depends_on: [kafka, postgres]
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - SCORES_TOPIC=scores
      - PGHOST=postgres
      - PGPORT=5432
      - PGDATABASE=fraud
      - PGUSER=mlops
      - PGPASSWORD=mlops
    command: ["python","db_writer.py"]

  ui:
    build: .
    depends_on: [postgres]
    ports: ["8501:8501"]
    environment:
      - PGHOST=postgres
      - PGPORT=5432
      - PGDATABASE=fraud
      - PGUSER=mlops
      - PGPASSWORD=mlops
    command: ["streamlit","run","app.py","--server.port=8501","--server.address=0.0.0.0"]
